<!doctype html>
<html lang="en" ng-app="KanakuApp">
<head>
  <script src="{{ STATIC_URL }}javascript/libs/angular.js"></script>
  <script src="{{ STATIC_URL }}javascript/libs/angular-route.js"></script>
<script src="{{ STATIC_URL }}javascript/app.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css"
			href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script type="text/javascript">
KanakuApp.config(['$httpProvider', function($httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
}]);
</script>
</head>
<body class="container">
<div class="navbar navbar-default navbar-fixed-top">
	 <li class="dropdown pull-right">
     <a id="login-drop" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" role="button" class="dropdown-toggle"
     data-toggle="dropdown">Login with Google <b class="caret"></b></a>
   </li>
</div>
	<div class="header">
		<h2 class="text-muted">Sanga Kanaku</h2>
	</div>
	{% block content %} {% endblock %}
</body>
</html>

