<!doctype html>
<html lang="en" ng-app="KanakuApp">
<head>
  <script src="{{ STATIC_URL }}javascript/libs/angular.js"></script>
  <script src="{{ STATIC_URL }}javascript/libs/angular-route.js"></script>
<script src="{{ STATIC_URL }}javascript/app.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css"
			href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script type="text/javascript">
KanakuApp.config(['$httpProvider', function($httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
}]);
</script>
</head>
<body class="container">
	<div class="header">
		<h2 class="text-muted">Sanga Kanaku</h2>
	</div>
	{% block content %} {% endblock %}
</body>
</html>

