<div  ng-controller="KanakuExpenseController">
<div class="row">
	<div class="col-md-4 pull-left">
		<a href="#/newExpense/{{houseId}}" class="btn btn-default btn-lg active"
		role="button">Add Expense</a>
	</div>
	<div class="col-md-4 pull-right">
		<a href="#/house" class="btn btn-primary btn-lg" role="button">Back</a>
	</div>
</div>
<h4> House Name: {{house.name}}</h4>
<h5> Total Rent: {{house.rent}}</h5>
<h5> Your Share : {{house.my_share}}</h5>
<div class="table-responsive">
<table class="table table-hover">
	<thead>
		<tr>
			<th>Description</th>
			<th>Bearer</th>
			<th>Amount</th>
			<th>Date</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
			<tr ng-repeat="expense in expenses">
				<td>{{expense.description}}</td>
				<td>{{expense.bearer.username}}</td>
				<td>{{expense.amount}}</td>
				<td>{{expense.date | date:'medium'}}</td>
				<td>
					<span class="glyphicon glyphicon-pencil" ng-click="edit(expense)"></span>
					<span class="glyphicon glyphicon-remove" ng-click="delete($index)"></span>
				</td>
			</tr>
		</tbody>
</table>
<div>
</div>
